<div class="alert alert-danger" style="text-align: center;" *ngIf="error">
  <p>{{ error }}</p>
</div>
<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
  <h1 style="text-align: center;" class="text-primary">Welcome</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <span
        *ngIf="
          !signUpForm.get('email').valid && signUpForm.get('email').touched
        "
        class="help-block"
        >Please enter a valid email!</span
      >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <button
      class="btn btn-primary btn-block"
      type="submit"
      [disabled]="!signUpForm.valid"
      style="cursor: pointer;"
    >
      LogIn
    </button>
  </form>
</div>
