<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-8 col-sm-10 mx-auto">
      <h1 *ngIf="isAuthenticated">
        You are now logged in
      </h1>
      <h1 *ngIf="!isAuthenticated">
        Logged out! Please log in again...
      </h1>
      <p style="text-align: center;" *ngIf="!isAuthenticated">
        <a class="login" [routerLink]="['/login']">Log In</a>
      </p>
      <p style="text-align: center;" *ngIf="isAuthenticated">
        <a class="logout" (click)="logOut()">Log Out</a>
      </p>
    </div>
  </div>
</div>
